Productivity/telegram-bot/workflow-1-ask-claude.json
{
  "name": "Telegram → Ask Claude",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "is-voice",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-voice",
      "name": "Is Voice Note?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "is-task-cmd",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "^(done:|add:|task:|/done |/add |/task )",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-task-cmd",
      "name": "Is Task Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.abacus.ai/api/v0/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "s2_8ecdc6832cb94ac599ea14ab55b0a928"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "deploymentConversationId": "",
          "message": "={{ $json.message.text }}",
          "systemMessage": "You are Yohan's AI assistant. Yohan is a Partner Manager at Gorgias (EMEA), building a Gorgias-specialized agency, and has two freelance clients: Nébuleuse Bijoux and Accessory Partners. He is based in Cannes, France. Keep answers concise and practical. You have context on his projects and goals. When answering, be direct — no filler."
        }
      },
      "id": "claude-api",
      "name": "Ask Claude (Abacus.AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.reply || $json.message || $json.text || 'No response from Claude' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-claude-reply",
      "name": "Send Claude Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 180],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🤖 Task command received! Use the dedicated task bot (send: `done: task name` or `add: task name`).\n\nThis is the Ask Claude bot — just chat naturally.",
        "additionalFields": {}
      },
      "id": "redirect-task",
      "name": "Redirect to Task Bot",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 420],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🎤 Voice note received! Processing transcription...\n\n_(This is handled by the Voice Notes workflow)_",
        "additionalFields": {}
      },
      "id": "ack-voice",
      "name": "Ack Voice Note",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 180],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is Voice Note?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice Note?": {
      "main": [
        [
          {
            "node": "Ack Voice Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Task Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Task Command?": {
      "main": [
        [
          {
            "node": "Redirect to Task Bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Claude (Abacus.AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Claude (Abacus.AI)": {
      "main": [
        [
          {
            "node": "Send Claude Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "yl-ask-claude-telegram"
  },
  "tags": ["telegram", "claude", "yohan"]
}
