Productivity/telegram-bot/workflow-2-task-commands.json
{
  "name": "Telegram → Task Commands",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the incoming message\nconst msg = $input.first().json.message.text || '';\nconst lower = msg.toLowerCase().trim();\n\nlet action = null;\nlet taskName = null;\n\n// Parse done: / /done\nif (lower.startsWith('done:') || lower.startsWith('/done ')) {\n  action = 'done';\n  taskName = msg.replace(/^done:|^\\/done /i, '').trim();\n}\n// Parse add: / /add / task:\nelse if (lower.startsWith('add:') || lower.startsWith('/add ') || lower.startsWith('task:') || lower.startsWith('/task ')) {\n  action = 'add';\n  taskName = msg.replace(/^add:|^\\/add |^task:|^\\/task /i, '').trim();\n}\n// Parse /brief or brief\nelse if (lower === '/brief' || lower === 'brief') {\n  action = 'brief';\n}\n// Parse /help\nelse if (lower === '/help' || lower === 'help') {\n  action = 'help';\n}\nelse {\n  action = 'unknown';\n}\n\nreturn [{\n  json: {\n    action,\n    taskName,\n    rawMessage: msg,\n    chatId: $input.first().json.message.chat.id\n  }\n}];"
      },
      "id": "parse-command",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "is-done",
              "leftValue": "={{ $json.action }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-done",
      "name": "Is Done Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "is-add",
              "leftValue": "={{ $json.action }}",
              "rightValue": "add",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-add",
      "name": "Is Add Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Read TASKS.md and mark task as done\nconst fs = require('fs');\nconst path = '/data/Productivity/TASKS.md';\n// NOTE: Replace /data/Productivity with the actual mounted path in your Railway config\n// or use the absolute path on your local Mac: /Users/yohanloyer/Projects/Productivity/TASKS.md\n\nconst taskName = $input.first().json.taskName;\nlet content = '';\n\ntry {\n  content = fs.readFileSync(path, 'utf8');\n} catch(e) {\n  return [{ json: { success: false, error: 'Could not read TASKS.md: ' + e.message, taskName } }];\n}\n\n// Try to find and mark the task done\n// Matches: - [ ] Task name or - [>] Task name or - [!] Task name etc.\nconst taskRegex = new RegExp(`- \\\\[[^x]\\\\] \\\\*\\\\*${taskName.replace(/[.*+?^${}()|[\\\\]\\\\\\\\]/g, '\\\\\\\\$&')}\\\\*\\\\*`, 'i');\nconst taskRegexSimple = new RegExp(`- \\\\[[^x]\\\\] ${taskName.replace(/[.*+?^${}()|[\\\\]\\\\\\\\]/g, '\\\\\\\\$&')}`, 'i');\n\nconst today = new Date().toISOString().split('T')[0];\nlet newContent = content;\nlet found = false;\n\nif (taskRegex.test(content)) {\n  newContent = content.replace(taskRegex, (match) => match.replace(/\\\\[[^x]\\\\]/, `[x]`) + ` ✓ ${today}`);\n  found = true;\n} else if (taskRegexSimple.test(content)) {\n  newContent = content.replace(taskRegexSimple, (match) => match.replace(/\\\\[[^x]\\\\]/, `[x]`) + ` ✓ ${today}`);\n  found = true;\n}\n\nif (found) {\n  fs.writeFileSync(path, newContent, 'utf8');\n  return [{ json: { success: true, taskName, message: `✅ Marked done: *${taskName}*` } }];\n} else {\n  return [{ json: { success: false, taskName, message: `⚠️ Task not found: *${taskName}*\\n\\nTip: Make sure the name matches exactly, or check TASKS.md` } }];\n}"
      },
      "id": "mark-done",
      "name": "Mark Task Done in TASKS.md",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Append new task to TASKS.md inbox section\nconst fs = require('fs');\nconst path = '/data/Productivity/TASKS.md';\n// NOTE: Replace with actual path\n\nconst taskName = $input.first().json.taskName;\nlet content = '';\n\ntry {\n  content = fs.readFileSync(path, 'utf8');\n} catch(e) {\n  return [{ json: { success: false, error: 'Could not read TASKS.md: ' + e.message, taskName } }];\n}\n\n// Add to Inbox section, or create it\nconst newTask = `- [ ] **${taskName}** — added via Telegram`;\n\nif (content.includes('## 📥 Inbox')) {\n  content = content.replace('## 📥 Inbox', `## 📥 Inbox\\n${newTask}`);\n} else {\n  // Append inbox section at end\n  content += `\\n\\n## 📥 Inbox\\n${newTask}\\n`;\n}\n\ntry {\n  fs.writeFileSync(path, content, 'utf8');\n  return [{ json: { success: true, taskName, message: `📝 Task added: *${taskName}*\\n\\nIt's in your Inbox — open dashboard to assign it to a project.` } }];\n} catch(e) {\n  return [{ json: { success: false, error: e.message, taskName } }];\n}"
      },
      "id": "add-task",
      "name": "Add Task to TASKS.md",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-done-reply",
      "name": "Send Done Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-add-reply",
      "name": "Send Add Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 400],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "📋 *Task Bot Commands:*\n\n`done: task name` — mark a task done\n`add: task name` — add a task to inbox\n`/brief` — get today's top 3 priorities\n`/help` — show this message\n\n*Examples:*\n`done: book flight Amsterdam`\n`add: follow up with Rob about WISMO`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 580],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Is Done Command?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Add Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Done Command?": {
      "main": [
        [
          {
            "node": "Mark Task Done in TASKS.md",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Add Command?": {
      "main": [
        [
          {
            "node": "Add Task to TASKS.md",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Task Done in TASKS.md": {
      "main": [
        [
          {
            "node": "Send Done Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Task to TASKS.md": {
      "main": [
        [
          {
            "node": "Send Add Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "yl-task-commands-telegram"
  },
  "tags": ["telegram", "tasks", "yohan"]
}
